@import "~bootstrap/scss/bootstrap";

@import url("./assets/stylesheets/fonts.css");

// Elements 

body {
  background-color: #2B2B2B;
  
}
a:hover{
  transition: 0.3s;
  text-decoration: none;
}

section{
  padding: 50px 0;
}

.center {
  text-align: center;
}

.react-nav{
  text-transform: uppercase;
  font-family: 'Open Sans Bold';
  letter-spacing: 2.5px;
  outline: none;
  color: lightseagreen;
  span{
    color: lightseagreen;
    margin: 0.5em;
    &:hover{
      color: orange;
      cursor: pointer;
      transition: 0.3s;
    }
  }
  
  
  .language-select{
    select {
      text-transform: uppercase;
      width: 100%;
      outline: none;
      min-width: 0%;
      background-color: rgba(0, 0, 0, 0);
      border: 0px;
      color: lightseagreen;
      &:hover{
        color: orange;
      cursor: pointer;
      transition: 0.3s;
      }
      option {
        color: black;
      }
    }
  }

}

// Home 

header{
  position: relative;
  height: 100vh;
  min-height: 500px;
  width: 100%;
  background: #161415 url(./assets/images/232001.jpg) no-repeat top center;
  background-size: cover !important;
  
  text-align: center ;
  overflow: hidden;
  .banner {
    @extend .center;
    margin: 0 auto;
    width: 85%;
    padding-bottom: 30px;
    text-align: center;
    padding-top: 15%;
    .scroll-button{
      position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -29px;
    color: #fff;
    display: block;
    height: 42px;
    width: 42px;
    font-size: 42px;
    line-height: 42px;
    color: #fff;
    border-radius: 100%;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
      &:hover{
        color: lightseagreen;
        cursor: pointer;
        transition: 0.3s;
        
      }
    }
  .banner-text{
    
    h1{
      font: 90px/1.1em 'Open Sans Bold', sans-serif;
      color: #fff;
      letter-spacing: -2px;
      margin: 0 auto 18px auto;
      text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
    }       
    p{      
      width: 50%;
      margin: auto;
      font: 20px/1.1em 'Open Sans 300';
      line-height: 1.2;
      letter-spacing: 2px;
      color: white;
      span{
        color: lightseagreen;
      }
    }
    hr {
      width: 50%;
      margin: 18px auto 24px auto;
      border-color: #2F2D2E;
      border-color: rgba(150, 150, 150, .1);
    }

  }
}
}
.social-icons{
  list-style-type: none;
  font-size: 30px;
  overflow: hidden;
  margin: auto;
  text-align: center;
  li{
    display:inline;
    margin-right: 1em;
    a{
      color: white;
      &:hover{
        color: lightseagreen;
      }
    }
  }
}

#about{
  .about-text{
    padding-top: 0;
    margin: auto;
    color: white;
    font: 'Open Sans', sans-serif;  
    width: 70%;  
    h3{
      font-size: 1.5em;
      font-weight: bold;
      color: white; 
    }
    p{
      margin: 0;
      font-size: 1.05em;
      color: grey;
      line-height: 1.7;
    }
    .row{
      margin-top: 1em;
      a{
        &:hover{
          transition: 0.7s;
        }
        span{
          font-weight: bold;
          margin-left: 10px;
        }
      }
    }

  }
 
}

#resume{

    margin: auto;
    background-color: white;
    font: 1em 'Open Sans 300', sans-serif;
   .container{
     width: 70% !important;
     .resume-text{
       h3 {
         text-transform: uppercase;
         font: 1.5em 'Open Sans Condensed', bold;

         span {
           border-bottom: 3px solid lightseagreen;
           padding-bottom: 6px;
         }

       }
       .element {
         margin: 10px;
         h4 {
           font: 1.7em "Open Sans Bold", sans-serif;
         }

         i {
           font: 1em "Libre Baskerville Italic";
           color: grey;
           margin: 0px 5px;
         }

         span {
           margin: 0px 5px;
           color: grey;
           font-width: bold;
         }

         p {
          margin-top: 1em;
           line-height: 2em;
           color: grey;
         }
        ul{
          list-style: none;
          line-height: 2em;
          li{
            color: grey;

          }
        }
         .languages li{
           display:inline;
           margin-right: 3em;
         }

       }
     }
   }
}

#works{
  background-color: lightcyan;
  .projects{
    padding: 10% 0;
    .about-project{
      color: white;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 80%;
      opacity: 0;
      transition: .5s ease;
      background-color: black;
      h3{
        margin-top: 5%;
        font: 1.3em "Open Sans Condensed", sans-serif;
      }
      h4{
        font: 0.8em "Open Sans Regular", sans-serif;
      }
      .plus-icon{
        font-size: 1.5em;
        margin-top: 10%;
      }

    }
    .project-logo {
      position: relative;
      text-align: center;
      &:hover {
        .about-project {
          opacity: 0.8;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          cursor: pointer;
        }
      }
      img{
        width: 80%;
        height: auto;
      }
    }
  }

}

.modal-project{
  padding: 0;
  margin: 0;
  .modal-text {
    padding: 1em;
    h3 {
      font: 1em "Open Sans Bold", sans-serif;
    }

    p {
      font: 1em "Open Sans", sans-serif;
      color: grey;
    }

    h4 {
      font: 1.2em "Open Sans Condensed", sans-serif;
      color: grey;
    }
  }
  img{
    width: 100%;
    height: auto;
  }
  .modal-header,
  .modal-body
  {
    padding: 0; //change the padding as you want
  }
  .modal-footer{
    background-color: #2B2B2B ;
    a{
      margin-right: 1em;
      background: inherit;
      border: none;
      color: white;
      font: 1.2em "Open Sans Bold", sans-serif;
      cursor: pointer;
      &:hover{
        color: lightseagreen;
       
      }
    }
  }
}

footer{
    .social-icons{
    li{
      margin-right: 50px;
      a {
        color: gray;
        &:hover{
          color: lightseagreen;
        }
      }
    }
  }
  .home-button{
      
      color: lightseagreen;
      font-size: 5em;
      padding: 0;
      position: relative;
      top: -45px;
      &:hover{
        color: lightcyan;
        cursor: pointer;
        transition: 0.3s;
        
      }
    
  }
  p{
    margin-top: 1em;
    color: grey;
    font-family: "Open Sans 300";
    a{
      color: gainsboro;
      &:hover{
        
        font-weight: bold;
        transition: 0.3s;
        color: white;
      }
    }
  }
}


@media only screen and (max-width: 480px){
  #home{
    h1{
      font-size: 5rem;
    }
    .banner{
      p{
        width: 100%;
      }

      
    }

    #nav-toggle{
      margin-left: 85%;
      font-size: 0.5em;
      background-color: lightseagreen;
      border-color: orange;
    }
    .toggle-items{
        span{
          color: lightseagreen;
          &:hover{
           color: orange;
          }
        }
        .language-select{
          width: 20%;
          margin: auto;
          select{
            color: lightseagreen;
          }
        }
    }
  }

  .social-icons{
    li a{
      color: lightseagreen; 
      &:hover{
        color: white;
      }
    }
  }

  #about{
    text-align: center;
    margin: 0;
    .about-text{
      
      width: 100%;
    }
    a{
      margin-top: 2em;
    }
  }

  #resume{
    .container{
      width: 100% !important;
    .row{
      
      display: inline-block;
      
      .col-8{
        margin: 2em auto;
        padding: 0;
        .element{
          width: 100%;
          span{
            display: block;
          }
          ul{
            padding: 0;
            display: inline;
            li{ 
              display: inline-block;
            }
          }
          .languages{
            ul{
              li{
               
              }
            }
          }
        }
      }
      .col-4{
        margin: 0 1em;
        padding: 0;       
        font-size: 1.5em;
      }
      
    }
   
  }
}

#works{
  .row{
    display: block;
    margin: auto;
    .col{
      margin-top: 2em;  
    }
  }
}
}
