@import "~bootstrap/scss/bootstrap"; 

@import url("./assets/stylesheets/fonts.css");

// Elements 

body {
  background-color: #2B2B2B;
  
}

section{
  padding: 50px 0;
}

.center {
  text-align: center;
}

.navbar {
  text-transform: uppercase;
  font-family: 'Open Sans Bold';
  letter-spacing: 2.5px;
  .nav-item{
    .nav-link{
      color: white;
    }
  }
  .nav-item.active .nav-link, 
  .nav-item:hover .nav-link{
    color: lightseagreen;
  }
  .language-select{
    @extend .navbar,.nav-link;
    width:100%!important;
    outline: none;
    min-width: 0%!important;
    background-color: rgba(0,0,0,0);
    border: 0px!important;  
    option{
      color: rgb(29, 20, 20); 
    }
  } 
  
}

// Home 

header{
  position: relative;
  height: 950px;
  min-height: 500px;
  width: 100%;
  background: #161415 url(./assets/images/supernova.jpg) no-repeat top center;
  background-size: cover !important;
  
  text-align: center ;
  overflow: hidden;
  .banner {
    @extend .center;
    margin: 0 auto;
    width: 85%;
    padding-bottom: 30px;
    text-align: center;
    padding-top: 15%;

  .banner-text{
    
    h1{
      font: 90px/1.1em 'Open Sans Bold', sans-serif;
      color: #fff;
      letter-spacing: -2px;
      margin: 0 auto 18px auto;
      text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
    }
    p{
      width: 50%;
      margin: auto;
      font: 20px/1.1em 'Open Sans 300';
      line-height: 1.2;
      letter-spacing: 2px;
      color: white;
      span{
        color: lightseagreen;
      }
    }
    hr {
      width: 50%;
      margin: 18px auto 24px auto;
      border-color: #2F2D2E;
      border-color: rgba(150, 150, 150, .1);
    }
    .social-icons{
      
      list-style-type: none;
      font-size: 25px;
      overflow: hidden; 
      li{
        display:inline;
        margin: 7px;
        a{
          color: white;
          &:hover{
            color: lightcoral;
            
          }
        }
      }
    }
  }
}
}

#about{
  .about-text{
    padding-top: 5%;
    margin: auto;
    color: white;
    font: 'Open Sans', sans-serif;  
    width: 70%;  
    h3{
      font-size: 1.5em;
      font-weight: bold;
      color: white; 
    }
    p{
      margin: 0;
      font-size: 1.05em;
      color: grey;
      line-height: 1.7;
    }
    .row{
      margin-top: 1em;
      a{
        span{
          font-weight: bold;
          margin-left: 10px;
        }
      }
    }

  }
 
}

#resume{

    margin: auto;
    background-color: white;
    font: 1em 'Open Sans 300', sans-serif;
   .container{
     width: 70% !important;
     .resume-text{
       h3 {
         text-transform: uppercase;
         font: 1.5em 'Open Sans Condensed', bold;

         span {
           border-bottom: 3px solid lightseagreen;
           padding-bottom: 6px;
         }

       }
       .element {
         margin: 10px;
         h4 {
           font: 1.7em "Open Sans Bold", sans-serif;
         }

         i {
           font: 1em "Libre Baskerville Italic";
           color: grey;
           margin: 0px 5px;
         }

         span {
           margin: 0px 5px;
           color: grey;
           font-width: bold;
         }

         p {
          margin-top: 1em;
           line-height: 2em;
           color: grey;
         }
        ul{
          list-style: none;
          line-height: 2em;
          li{
            color: grey;

          }
        }
         .languages li{
           display:inline;
           margin-right: 3em;
         }

       }
     }
   }
}